doctype html
html(lang="en")
	head
		title Administration page
		link(rel="stylesheet", type="text/css", href="/css/admin.css")
		script(type='text/javascript', src='/js/components.js')
		script(type='text/javascript', src='/js/admin.js')
		meta(sessionId=session)
		meta(role=sysRole)
	body
		div(id="mainMenu") mainMenu
		div(id="tools") tools
		div(id="leftColumn") left column
		div(id="rightColumn") right column