doctype html
html(lang="en")
	head
		title Authorization
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(http-equiv="Cache-control", content="no-cahce")
	body
		div(id="sheet")
			div(id="header")
				img(src="/img/GorkiHotels_logo.png")
				div(id="langs")
					a(href='/login?lang=ru') Перейти на русский
			div(id="content")
				div 
					p Please type your mobile phone number. The phone with this number will recieve the SMS with the secret code which has to be set at the next stage for authorization.
				form(action="/processing" method="post")
					p
						input(id="phoneNum" type="text" placeholder="9XX XXX XXXX" name="mobile_num" maxlength="11" required)
						//
							div(id="plus7") +7&nbsp
						input(type="hidden" name="language" value="en")
						input(type="submit" value="Send SMS")
			div(id="achtung")=message