doctype html
html(lang="ru")
	head
		title Авторизация
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(http-equiv="Cache-control", content="no-cahce, no-store, must-revalidate")
		meta(http-equiv="Pragma", content="no-cache")
		meta(http-equiv="Expires", content="0")
	body
		div(id="sheet")
			div(id="header")
				img(src="/img/GorkiHotels_logo.png")
				div(id="langs")
					a(href='/login?lang=en') Switch to Eng
			div(id="content")
				div
					p Пожалуйста, укажите номер своего мобильного телефона. На указанный номер будет отправлено SMS-сообщение с кодом, который необходимо будет ввести для подтверждения доступа.
				form(action="/processing" method="post")
					p
						input(id="phoneNum" type="text" placeholder="9XX XXX XXXX" name="mobile_num" maxlength="11" required)
						//
							div(id="plus7") +7&nbsp
						input(type="hidden" name="language" value="ru")
						input(type="submit" value="Отправить SMS")
			div(id="achtung")=message