doctype html
html(lang="ru")
	head
		title Печать ваучера
		link(rel="stylesheet", type="text/css", href="/css/print.css")
		link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic", rel="stylesheet", type="text/css")
		meta(http-equiv="Cache-control", content="no-cahce")
	body
		div(id="content")
			div(id="header")
				img(src="/img/GorkiHotels_logo.png")
				h1=vaucher
			div#leftcl
				h3 Уважаемый гость!
				p Мы рады приветствовать Вас в "Горки Отелях" и предложить услугу высокоскоростного Интернета.
				p Для доступа к сети Интернет используйте код ваучера, указанный в заголовке этой страницы.
				p Данный код будет возможно использовать для доступа к сети Интернет только для одного устройства. Если Вам необходимо подключить дополнительные устройства к сети Интернет, пожалуйста, обратитесь к сотрудникам отеля за дополнительным ваучером.
				p Также просим Вас учитывать, что в соотвествии с постановлениями Правительства Российской Федерации №758 от 31.07.2014г. и №801 от 12.08.2014г. информация о всех действиях в Интернете, выполненных через подключаемое устройство будет сохранена в специальном защищенном хранилище.
				p Доступ к этой информации закрыт для любых лиц, включая сотрудников отеля и может быть использован только правохранительными органами Российской Федерации в случае выявления противоправных действий.
				p Пожалуйста, не передавайте данный ваучер никому до момента активации. Все действия, совершенные на устройстве, получившим доступ к сети Интернет по данному ваучеру, будут считаться совершенными Вами.
				p Желаем Вам приятного отдыха!
			div#rightcl
				h3 Dear guest!
				p Welcome to Gorki Hotels! We are glad to provide to you the high speed free Internet Service.
				p Please use vaucher code from the header of this page for Internet access. 
				p This code is available for activation of Internet access only for one device. If you want to connect additional devices to the Internet, please ask hotel's employees to provide you additional vauchers.
				p Please keep in mind that due to Russian Federation Government regulations #58 of 31.07.2014 and #801 of 12.08.2014 history of your Internet usage performed on the connected device will be kept at the special storage.
				p An access for such information closed for everyone including hotel's employees. This information can be used only by law-enforcement agencies in case of investigations of criminal actions.
				p Please do not share this vaucher code with anyone before it's activation. All actions made trough the device with Internet access activated by this vaucher will be recognized as made by you.
				p We wish you a nice rest!