doctype html
html(lang="en")
	head
		title Authorization
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(http-equiv="Cache-control", content="no-cahce")
	body
		div(id="sheet")
			div(id="header")
				img(src="/img/GorkiHotels_logo.png")
				div(id="langs")
					a(href='/sms?lang=ru') Перейти на русский
			div(id="content")
				div
					p The SMS message with secret code has been sent to your mobile phone
					p Please enter recieved secret code at this form
					p Performing authorization, you confirm the terms of hotel's Internet service usage rules
				form(action="/auth" method="post")
					p
						input(type="checkbox", name="cbx_agree" id="agreed")
						label(for="agreed") I agree with Internet access rules
						input(type="number", name="sms_code", placeholder="SMS code", required)
						input(type="hidden", name="language", value="en")
						input(type="submit" value="Next")
			div(id="achtung")=message