doctype html
html(lang="ru")
	head
		title Авторизация
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(http-equiv="Cache-control", content="no-cahce, no-store, must-revalidate")
		meta(http-equiv="Pragma", content="no-cache")
		meta(http-equiv="Expires", content="0")
	body
		div(id="sheet")
			div(id="header")
				img(src="/img/GorkiHotels_logo.png")
				div(id="langs")
					a(href='/sms?lang=en') Switch to Eng
			div(id="content")
				div
					p На указанный Вами на предыдущем этапе телефон было оправлено сообщение SMS, содержащее цифровой код
					p Пожалуйста введите полученный цифровой код на данной форме.
					p Выполняя авторизацию, Вы соглашаетесь с условиями использования услуги Интернет, предоставляемой нашей гостиницей.							
				form(action="/auth" method="post")
					p
						input(type="checkbox", name="cbx_agree" id="agreed")
						label(for="agreed") Я принимаю правила доступа к сети Интернет
						input(type="number", name="sms_code", placeholder="SMS код", required)
						input(type="hidden", name="language", value="ru")
						input(type="submit" value="Далее")
			div(id="achtung")=message