doctype html
html(lang="en")
	head
		title Login
		link(rel="stylesheet", type="text/css", href="/css/style.css")
	body
		div#sheet
			form(action="/sysAuth", method="post")
				div
					input(type="text", name="username", placeholder="Username")
					br
				div
					input(type="password", name="password", placeholder="Password")
				div
					input(type="submit", value="Log In")
		div=message