doctype html
html(lang="ru")
	head
		title Авторизация
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(http-equiv="Cache-control", content="no-cahce, no-store, must-revalidate")
		meta(http-equiv="Pragma", content="no-cache")
		meta(http-equiv="Expires", content="0")
	body
		div(id="sheet")
			div(id="header")
				img(src="/img/GorkiHotels_logo.png")
				div(id="langs")
					a(href='/vaucher?lang=en') Switch to Eng
			div(id="content")
				div
					p Введите, пожалуйста, номер ваучера для авторизации. 
					p Ваучер Вам могут предоставить сотрудники стойки приема и размещения гостиницы. Код ваучера активирует доступ к Интернету только для одного устройства.
				form(action="/vauth" method="post")
					p
						input(type="number" placeholder="Номер ваучера" name="vau_code" maxlength="8" required)
						input(type="hidden" name="language" value="ru")
						input(type="submit" value="Активировать ваучер")
			div(id="achtung")=message