doctype html
html(lang="ru")
	head
		title Authorization
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(http-equiv="Cache-control", content="no-cahce")
	body
		div(id="sheet")
			div(id="header")
				img(src="/img/GorkiHotels_logo.png")
				div(id="langs")
					a(href='/vaucher?lang=ru') Перейти на русский
			div(id="content")
				div
					p Please type vaucher code for authorization. 
					p You can get vaucher at the Reception desk. Vaucher code activates Inernet access only for one device.
				form(action="/vauth" method="post")
					p
						input(type="number" placeholder="Vaucher Code" name="vau_code" maxlength="8" required)
						input(type="hidden" name="language" value="en")
						input(type="submit" value="Activate Vaucher")
			div(id="achtung")=message