doctype html
html(lang="en")
	head
		title Authorization
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(http-equiv="Cache-control", content="no-cahce")
	body
		div(id="sheet")
			div(id="header")
				img(src="/img/GorkiHotels_logo.png")
			div(id="content")
				div
					p Please wait. We are writing SMS to you...
			div(id="achtung")=message