doctype html
html(lang="ru")
	head
		title Авторизация
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(http-equiv="Cache-control", content="no-cahce, no-store, must-revalidate")
		meta(http-equiv="Pragma", content="no-cache")
		meta(http-equiv="Expires", content="0")
	body
		div(id="sheet")
			div(id="header")
				img(src="/img/GorkiHotels_logo.png")
			div(id="content")
				div
					p Пожалуйста, подождите. Мы пишем Вам SMS...
			div(id="achtung")=message