doctype html
html(lang="en")
	head
		title Authorization
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(http-equiv="Cache-control", content="no-cahce")
	body
		div(id="sheet")
			div(id="header")
				img(src="/img/GorkiHotels_logo.png")
				div(id="langs")
					a(href='/welcome?lang=ru') Перейти на русский
			div(id="content")
				div
					h3 Dear guest!
					p Welcome to Gorki Hotels! We are glad to provide to you the high speed free Internet Service.
					p Due to Russian Federation Government regulations #58 of 31.07.2014 and #801 of 12.08.2014 we have to identify you before Internet service will be provided. 
					p You can authorize yourself using your mobile phone. In this case you will recieve SMS confirmation code.
					p You also can authorize using vaucher code, which our Reception employees will be glad to provide you.
					p Please select the identification method.
				form(action="/login" method="post")
					input(type="hidden" name="language" value="en")
					input(type="submit" value="SMS Authorization")
				form(action="/vaucher" method="post")
					input(type="hidden" name="language" value="en")
					input(type="submit" value="Vaucher Authorization")
			div(id="achtung")=message