doctype html
html(lang="ru")
	head
		title Авторизация
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		meta(http-equiv="Cache-control", content="no-cahce, no-store, must-revalidate")
		meta(http-equiv="Pragma", content="no-cache")
		meta(http-equiv="Expires", content="0")
	body
		div(id="sheet")
			div(id="header")
				img(src="/img/GorkiHotels_logo.png")
				div(id="langs")
					a(href='/welcome?lang=en') Switch to Eng
			div(id="content")
				div
					h3 Уважаемый гость!
					p Мы рады приветствовать Вас в "Горки Отелях" и предложить услугу высокоскоростного Интернета.
					p В соотвествии с постановлениями Правительства РФ №758 от 31.07.2014г. и №801 от 12.08.2014г. для того, чтобы воспользоваться данной услугой, необходима Ваша идентификация.
					p Вы можете авторизоваться используя номер своего мобильного телефона. В этом случае Вам будет отправлено сообщение SMS для подтверждения.
					p Вы также можете авторизоваться, используя ваучер, который Вам могут выдать на стойке приема и размещения.
					p Пожалуйста, выберите способ идентификации.
				form(action="/login" method="post")
					input(type="hidden" name="language" value="ru")
					input(type="submit" value="Авторизация через SMS")
				form(action="/vaucher" method="post")
					input(type="hidden" name="language" value="ru")
					input(type="submit" value="Авторизация ваучером")
			div(id="achtung")=message