doctype html
html(lang="en")
	head
		title Thank you
		link(rel="stylesheet", type="text/css", href="/css/style.css")
	body
		h3 Приносим извинения. Что-то пошло не так :(
		div=message
		h3 Sorry. Something goes wrong :(
		div=message2