﻿/*
#myDIV{
	position:absolute;
	top:500px;
	border-style:solid;
	border-width:1px;
}
*/
body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
table,td
{
	border-style:solid;
	border-width:1px;
	border-collapse:collapse;
	padding:2px;
	font-size: 10pt;
}

/*
table.hidden
{
border-style:none;
}
td.hidden
{
border-style:none;
}
*/
/*
#dv_filters {
	border-style:solid;
	border-color:red;
	border-width:1px;

	background-color:#f7f7f7;

	margin:10px;
	width: 350px;
	height: 65px;
	font-size: 10pt;
	position: relative;
	float: left;
}
*/

/*
#dv_topPanel {
	background-color:#f7f7a7;
	width: 100%;
	font-size: 10pt;
	position: relative;
	float: left;

}
*/

/*
.dv_filtElem {
	margin:5px;
	
	float: left;


*/
}
/*
#DivDesktop{
	margin:5px;
	width: 100%;
}

#DivLeftDesk{
	margin: 10px;
	width: 48%;
	float: left;
}

#DivRightDesk{

	margin: 10px;
	width: 48%;
	float: left;
}

#dv_tools{

	width: 100%;
}

#DivWorkSpace{

	width: 100%;
	float: left;
}

#dv_pnlbtns{
	float: left;
}

#dv_pnlcaptn{
	float: left;

	padding-left:10px;
	font-weight:bold;
}
*/

.caption{
/*	float: left;
	width:300px;
	text-align:center;
*/
	margin-left: 15px;
	font-weight:bold;
}

.ierarchyElement{
  cursor: pointer;
}

.highlight{
	background-color:#c7f7f7;
}

.touchable{
	cursor: pointer;
}

.tableHead{
	background-color:#fc0;
	text-align: center;
}

.contx{
	/*border-style:solid;
	border-width:1px;
	border-color:grey;
	*/
	background-color:#f7f7f7;
	box-shadow: 0px 0px 7px 0px #000000;
	position:absolute;

	z-index:3;
	padding:3px;
}

.cMenuElem{
	cursor: pointer;
}

.cMenuElem:hover{
	cursor: pointer;
	background-color:#00f7f7;
}

#shade {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:1;
}

.modal {
box-shadow: 0px 0px 7px 0px #000000;
position:fixed;
background: #ffffff;
z-index:3;
display:none;
padding:10px;
}

.nav a{
padding:8px;
}

.redBg {
	background-color:red;
}

.greenBg {
	background-color:green;
}

.brd{
	border-style:solid;
	border-width:1px;
	padding: 5px;
}

/* ============================================================*/
/* HIERARCHY TREE SECTION*/

.Container {
    padding: 0;
    margin: 0;
}

.Container li {
    list-style-type: none;
}



/* indent for all tree children excepts root */
.Node {
    background-image : url(/img/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 18px;
    zoom: 1;
}

.IsRoot {
    margin-left: 0;
}


/* left vertical line (grid) for all nodes */
.IsLast {
    background-image: url(/img/i_half.gif);
    background-repeat : no-repeat;
}

.ExpandOpen .Expand {
    background-image: url(/img/expand_minus.gif);
}

/* closed is higher priority than open */
.ExpandClosed .Expand {
    background-image: url(/img/expand_plus.gif);
}

/* highest priority */
.ExpandLeaf .Expand {
    background-image: url(/img/expand_leaf.gif);
}

.Content {
    min-height: 18px;
    margin-left:18px;
}

* html  .Content {
    height: 18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.ExpandLoading   {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(/img/expand_loading.gif);
}



.ExpandOpen .Container {
	display: block;
}

.ExpandClosed .Container {
	display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
	cursor: pointer;
}
.ExpandLeaf .Expand {
	cursor: auto;
}

/* HIERARCHY TREE SECTION*/
/* ============================================================*/

#DivLeftColumn{
	float: left;
	margin: 2px;
	/*
	width: 200px;
	background-color:#00f7f7;
	*/
}

#DivCenterColumn{
	float: left;
	margin: 2px;
	/*
	width: 600px;
	background-color:#f700f7;
	*/
}

#DivRightColumn{
	margin: 2px;
	float: left;
	/*
	width: 400px;
	background-color:#f7f700;
	*/
}

table.hiddenBorders, table.hiddenBorders td
{
border-style: none;
border-width:0;
}

/* ============================================================*/
/* Диалоговые окна*/

dialog
{
	border:0;
	padding: 0;
	border-radius: 4px;
	
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.tabs input[type=radio] 
{
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.tabs 
{
	~padding: 0;
}

.tabs li
{
	~float: left;
}

.tabs-header
{
	margin:-20px 0 4px 0;

}

.tabs label 
{
	background: white;
	position: static;
	top:10px;
	border-top:1px solid;
	border-left:1px solid;
	border-right:1px solid;
	border-color:#DFDDDD;
	
	margin-right:2px;
	padding: 4px 8px;
	border-radius: 4px 4px 0 0;
	color: #909090;
	font-weight: normal;
}

.tabs label:hover 
{
	background: #DFDDDD;
}

[id^=tab]:checked + label {
	background: #DFDDDD;
	color: black;
	font-weight: bold;
}

.tab-content
{
	padding: 1px 0 0 0;
	background: #DFDDDD;
	border-radius: 0 4px 4px 4px;
}

.tab-content h2
{
	padding: 0 5px 0 5px;
}

.tab-content div
{
	padding: 2px;
}

.tab-content label
{
	padding: 0 0 0 10px;
}

.tab-content input
{
	margin: 0 0 5px 5px;
}


.div-hidden
{
	display: none;
}

/* Диалоговые окна*/
/* ============================================================*/

#leftColumn
{
	float:left;
	margin:10px 20px 0 0;
}

#rightColumn
{
	float:left;
	margin:10px 0 0 0;
}

.toolItem
{
	margin: 0 5px 0 0;
}

#mainMenu
{
	padding:10px 0 10px 0;
}

#mainMenu a
{
	margin: 0 5px 0 0;
}