body {font-family: 'PT Sans', sans-serif; color:#292727;}
p{font-size: 0.6rem; }

#header{position:relative; margin-bottom:2rem; margin-top: 2rem;  text-align: center;}

#content{width:800px;position: relative;}

#leftcl
{
	width:49%;
	float:left;
	border-right:solid 1px;
}

#rightcl
{
	padding: 0px 5px;
	width:49%;
	float:left;
}

#btn
{
	padding:20px 0px;
}