body {font-family: 'PT Sans', sans-serif; color:#292727;}
p, a {font-size: 0.9rem; max-width: 500px; text-align: center; margin: 0 auto; padding: 0.5rem 0;}
label {font-size: 0.9rem; }

input {width:100%;max-width:300px;padding:0.6rem 0;border:1px solid #E2E2E2;background-color:#F9F9F9;
    color:#000000;font-weight:300;letter-spacing:1px;text-align:center; margin: 10px 0;}

input[type=checkbox]	{width:20px;max-width:300px;padding:0.6rem 0;border:1px solid #E2E2E2;background-color:#F9F9F9;
    color:#000000;font-weight:300;letter-spacing:1px;text-align:left; margin: 10px 0;}
	
input[type=text] {-moz-appearance:textfield;text-align:left;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none; margin:0;}

input[type=submit] {text-transform: uppercase; font-size: 1rem; text-transform: uppercase; letter-spacing: 0;
    background: #2B924B; color: #fff; border:none;}
input[type=submit]:hover {background: #23AD4E; color: #fff;}

#sheet{max-width:600px;	margin:0 auto; text-align:center;}

#header{position:relative; margin-bottom:2rem; margin-top: 2rem;}

#langs{position:absolute;right:0px;top:0px;margin:10px 20px;}

#content{width:100%;position: relative;}

#btn{padding:20px 0px;}

.lang_btn{cursor: pointer;}

.hidden{display: none;}

#achtung{margin:20px;color:red;font-weight:bold;}

#plus7{
    position:absolute;
    top:92px;
    left:160px;
    font-size: 0.9rem;
   }

#phoneNum{padding-left:27px;box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;}